@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error.</h1>
<h2 class="text-danger">錯誤請洽系統管理員</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
